@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Jaldi:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

img,
video {
  max-width: auto !important;
  height: auto;
}

.pointer {
  cursor: pointer;
}

.space-between {
  justify-content: space-between;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.mt-40 {
  margin-top: 40px;
}

.mt-25 {
  margin-top: 25px;
}

.active-color {
  background-color: #003049 !important;
  border: 1px solid #003049 !important;
}

.not-allowed {
  cursor: not-allowed;
}

.flex-column {
  flex-direction: column;
}

.w-94 {
  width: 94%;
}

.visibility-none {
  visibility: hidden !important;
}

.model-parent {
  position: fixed;
  z-index: 100;
  padding-top: 10px;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  min-height: 100vh;
  overflow-x: hidden;
}

.model-wrap {
  width: 60%;
  background-color: white;
  margin-left: 50%;
  transform: translateX(-50%);
  position: relative;
  border-radius: 10px;
}

.archivo {
  font-family: "Archivo", serif;
}

.jaldi {
  font-family: "Jaldi", serif;
}

.ElementsApp, .ElementsApp .InputElement{
  font-family: "Jaldi", serif !important;
}

.error {
  color: #d3984e;
  font-family: "Jaldi", serif;
}

.model-wrap-expense {
  width: 62%;
  background-color: white;
  margin-left: 50%;
  transform: translateX(-50%);
  position: relative;
  top: 49px;
  right: -167px;
  overflow-y: auto;
}

@media screen  and (max-width:800px){
  .model-wrap,.model-wrap-expense{
    width: 80%;
  }
}
@media screen  and (max-width:600px){
  .model-wrap,.model-wrap-expense{
    width: 90%;
  }
}
