/* Company Name Card */

.main-card-wrap {
  flex: 1;
  /* take all height from parent */
  background: #ffffff;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 40px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.router {
  display: flex;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
}

.card-positioning-wrap {
  width: 65%;
  margin-left: 50%;
  transform: translateX(-50%);
  position: relative;
  top: -250px;

  /* 👇 Core logic here */
  height: calc(100vh + 250px - 354px - 20px);
  max-height: calc(100vh + 250px - 354px - 20px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  overflow: visible;

  display: flex;
  flex-direction: column;
}


.main-card-wrap .heading {
  font-family: "Jaldi", serif;
  font-size: 25px;
  font-weight: 600;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: 003049;
}

.main-card-wrap .medium {
  font-family: "Jaldi", serif;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #0030499c;
}

.main-card-wrap .dark {
  font-family: "Jaldi", serif;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: black;
}

.main-card-wrap .login {
  height: 58px;
  background-color: #003049;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-card-wrap .login p {
  font-family: "Archivo", serif;
  font-size: 18px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

.main-card-wrap .light {
  font-family: "Jaldi", serif;
  font-size: 22px;
  font-weight: 400;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #9eb0b9;
}

.card-button-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  /* Optional spacing from content */
}


.card-button-wrap .back {
  font-family: "Jaldi", serif;
  cursor: pointer;
  width: 130px;
  height: 50px;
  top: 926px;
  left: 488px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #b7c0c5;
  background: #ffffff;
  border-radius: 2px;
}

.card-button-wrap .next-btn {
  font-family: "Jaldi", serif;
  cursor: pointer;
  width: 130px;
  height: 50px;
  top: 926px;
  left: 488px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: #dce3e6;
  border: 1px solid #dce3e6;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 24px;
  border-radius: 2px;
}

.card-button-wrap .next-btn-hmrc {
  font-family: "Jaldi", serif;
  width: 130px;
  height: 50px;
  top: 926px;
  left: 488px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: #dce3e6;
  border: 1px solid #dce3e6;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 24px;
  border-radius: 2px;
}

.card-button-wrap .next-btn img {
  height: 24px;
  width: 24px;
  margin-top: 3px;
}

.router .inactive {
  font-family: "Jaldi", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 40.56px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #f8fafb87;
}

.router .active {
  font-family: "Jaldi", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 40.56px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #f8fafbe8;
}

/* Company Details Card */

.company-details {
  background-color: #f8fafb;
  padding: 20px;
  margin-top: 20px;
}

.company-single-detail-wrap {
  margin-bottom: 10px;
}

.company-single-detail-wrap h1 {
  font-family: "Archivo", serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 26.11px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.company-single-detail-wrap p {
  font-family: "Archivo", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 30.46px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #06263ea3;
  margin-left: 20px;
}

/*  */

.company-label {
  font-family: "Archivo", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26.11px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #003049;
  margin-bottom: 15px;
}

.company-label input {
  margin-right: 14px;
}

.company-radio-option-wrap {
  margin: 70px 0px;
}

.overflow-details {
  /* height: 200px; */
  overflow-y: auto;
  margin-left: 20px;
}

.single-grid label {
  font-family: "Archivo", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.94px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #4a6471;
  margin-bottom: 10px;
}

.grid-item label {
  font-family: "Archivo", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.94px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #4a6471;
  margin-bottom: 10px;
}

.grid-text-fields {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.single-grid-input-wrap {
  position: relative;
}

.single-grid-input-wrap p {
  position: absolute;
  top: 8px;
  right: 17px;
}

.single-grid-input-wrap input {
  height: 50px;
  top: 36.5px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  padding: 4px 6px;
}

.three-col-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.grid-item:nth-child(1) {
  grid-column: span 1;
}

.grid-item:nth-child(2) {
  grid-column: span 2;
}

.final-form-header p {
  font-family: "Jaldi", serif;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #0030499c;
}

.final-form-input-wrap {
  position: relative;
}

.final-form-input-main-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 15px;
  align-items: center;
}

.add-expense-wrap p {
  color: #06263e;
  font-family: "Archivo", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26.11px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.final-form-input-wrap input {
  width: 287px;
  height: 45px;
  top: 249px;
  left: 997px;
  gap: 0px;
  border-radius: 4px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #c4c4c4;
}

.final-form-input-wrap p {
  position: absolute;
  top: 8px;
  right: 40px;
}

.expenses-label {
  color: #06263e;
  font-family: "Archivo", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26.11px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.expense-input-wrap {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.light-label {
  color: #06263e !important;
  font-weight: 300 !important;
}

.add-expense-wrap {
  display: flex;
  align-items: center;
  gap: 5px;
}

.ElementsApp,
.ElementsApp .InputElement {
  font-family: "Jaldi", serif !important;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-box {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 10px 14px;
  border-radius: 6px;
  font-size: 14px;
  z-index: 999;
  min-width: 250px;
  max-width: 450px;
  white-space: normal;
  word-wrap: break-word;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  opacity: 0.95;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .card-positioning-wrap {
    width: 80%;
  }

  .three-col-grid,
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .single-grid-input-wrap input {
    width: 94%;
  }

  .otp-input-wrap {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .user-info-body-wrap img {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .card-positioning-wrap {
    width: 90%;
  }

  .three-col-grid,
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .payment-details-wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .form-title {
    font-size: 30px;
  }

  .form-sub-title,
  .form-second-sub-title,
  .form-light-sub-title {
    font-size: 25px;
    font-weight: 400;
    line-height: 30.7px;
  }

  .initial-card-checkbox-wrap .content p,
  .form-login-hmrc-btn p,
  .single-collected-data p,
  .single-check-item p,
  .expense-item label {
    font-size: 17px;
  }

  .initial-card-checkbox-wrap .content h1,
  .form-input-wrap label,
  .single-collected-data h1,
  .single-collected-data h1 {
    font-size: 18px;
  }

  .initial-card-checkbox-wrap input {
    width: 30px;
    height: 30px;
  }

  .form-back-button,
  .card-button-wrap .next-btn {
    font-size: 18px;
  }

  .card-button-wrap .back,
  .card-button-wrap .next-btn {
    width: 100px;
    height: 40px;
  }

  .form-next-button img {
    width: 18px;
    height: 18px;
  }

  .single-check-item input {
    width: 25px !important;
    height: 25px !important;
  }

  .expense-input-wrap {
    margin-left: 0px;
  }

  .final-form-header p {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    line-height: 20px;
  }

  .final-form-input-wrap input {
    height: 36px;
  }

  .expense-item {
    gap: 10px;
  }

  .final-form-input-wrap p {
    top: 3px;
  }

  .single-collected-data p {
    margin-left: 0px;
  }

  .finished-last-wrap img {
    display: none;
  }

  .boxes-wrap .net-earning-wrap h1,
  .boxes-wrap .tax-due-wrap h1 {
    font-size: 25px;
    font-weight: 600;
    line-height: 35.6px;
  }

  .boxes-wrap {
    flex-direction: column;
  }

  .visibility-none {
    display: none;
  }

  .register-form-wrap,
  .otp-form-wrap {
    width: 100%;
    margin-left: 0%;
    transform: translateX(0px);
  }

  .register-single-text-field label {
    font-size: 20px;
  }

  .register-single-text-field input {
    height: 40px;
  }

  .already-user-text p,
  .already-user-text span {
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
  }

  .create-account-btn,
  .verify-btn p {
    font-size: 20px;
  }
}